<br><br><br>
<div class="container">
<div class="card mb-4">
      <img class="card-img-top" height="500px" src="/products.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Krystal Clear Skin Serum</h2>
        <p class="card-text">Price &#2352; 500</p>
        <a href="/home/postA" class="btn btn-primary">Read More &rarr;</a>
      </div>

    </div>

    <!--<div class="card mb-4">
          <img class="card-img-top" height="500px" src="/products.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">hi</h2>
            <p class="card-text">hello</p>
            <a href="/home/postB" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>-->
</div>
